body {
    background-color: #1e1e1e;
}

// Custom Colors
#boxHome tbody .orange {
    color: #ff9e74;
}

#boxHome tbody .yellow {
    color: #ffbe00;
}

#boxHome tbody .lightblue {
    color: #74bec1;
}

#boxHome tbody .lightpurple {
    color: #b485d8;
}

#boxHome tbody .lightgreen {
    color: #28cc9e;
}

#boxHome tbody .grey {
    color: #748b9c;
}

#boxHome tbody .peach {
    color: #f1684e;
}

.orange2 {
    color: #ff9e74;
}

.yellow {
    color: #ffbe00;
}

.lightblue {
    color: #74bec1;
}

.lightpurple {
    color: #b485d8;
}

.lightpurple-border {
    border-color: #b485d8;
}

.lightgreen {
    color: #28cc9e;
}

.lightgreen-border {
    border-color: #28cc9e;
}

.grey {
    color: #748b9c;
}

.peach {
    color: #f1684e;
}

.table-img {
    max-height: 400px;
    width: 100%;
}

#tableHome,
.boxNY,
.boxJ,
.boxMos,
.boxT,
.boxMar,
.boxR,
.boxK,
.boxP {
    td {
        background-color: transparent;
    }

    th {
        background-color: transparent;
    }
}


// ALL PAGE DISPLAY
.boxHome {
    display: block;
}

.boxNY {
    display: none;
}

.boxJ {
    display: none;
}

.boxMos {
    display: none;
}

.boxT {
    display: none;
}

.boxMar {
    display: none;
}

.boxR {
    display: none;
}

.boxK {
    display: none;
}

.boxP {
    display: none;
}

// Other Misc
a {
    text-decoration: none;
}

.admin-color,
.admin-border,
.admin-name,
.admin-head {
    transition: 500ms ease-in-out;
}

.orange {
    color: #E97451;
}

.orange-border {
    border-color: #FF5F1F;
}

.bg5,
.bg1,
.bg2,
.bg3 {
    background-position: center;
    background-size: cover;
}

.bg1 {
    background-image: url('../images/bg1.png');
}

.bg2 {
    background-image: url('../images/bg2.png');
}


.bg5 {
    background-image: url('../images/bg5.png');
}

.bg3 {
    background-image: url('../images/bg3.png');
}

// ANIMATION / Keyframes
.vibrate {
    animation: vibrate-1 0.3s linear infinite;
}

.pulse {
    animation: pulsate 1s ease-in-out infinite both;
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}