body {
  background-color: #1e1e1e;
}

#boxHome tbody .orange {
  color: #ff9e74;
}

#boxHome tbody .yellow {
  color: #ffbe00;
}

#boxHome tbody .lightblue {
  color: #74bec1;
}

#boxHome tbody .lightpurple {
  color: #b485d8;
}

#boxHome tbody .lightgreen {
  color: #28cc9e;
}

#boxHome tbody .grey {
  color: #748b9c;
}

#boxHome tbody .peach {
  color: #f1684e;
}

.table-img {
  max-height: 400px;
  width: 100%;
}

#tableHome td,
.boxNY td,
.boxJ td,
.boxMos td,
.boxT td,
.boxMar td,
.boxR td,
.boxK td,
.boxP td {
  background-color: transparent;
}
#tableHome th,
.boxNY th,
.boxJ th,
.boxMos th,
.boxT th,
.boxMar th,
.boxR th,
.boxK th,
.boxP th {
  background-color: transparent;
}

.boxHome {
  display: block;
}

.boxNY {
  display: none;
}

.boxJ {
  display: none;
}

.boxMos {
  display: none;
}

.boxT {
  display: none;
}

.boxMar {
  display: none;
}

.boxR {
  display: none;
}

.boxK {
  display: none;
}

.boxP {
  display: none;
}

a {
  text-decoration: none;
}

.admin-color,
.admin-border,
.admin-name {
  transition: 500ms ease-in-out;
}

.blue {
  color: #007FFF;
}

.bg5,
.bg3,
.kokak {
  background-position: center;
  background-size: cover;
}

.kokak {
  background-image: url("../images/kokakbg.png");
}

.bg5 {
  background-image: url("../images/bg5.png");
}

.bg3 {
  background-image: url("../images/bg3.png");
}

.vibrate {
  animation: vibrate-1 0.3s linear infinite;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}