body {
    background-color: #1e1e1e;
}

.table-img {
    max-height: 400px;
    width: 100%;
}

// ALL PAGE DISPLAY
.boxHome {
    display: block;
}

.boxNY {
    display: none;
}

.boxJ {
    display: none;
}

.boxMos {
    display: none;
}

.boxT {
    display: none;
}

.boxMar {
    display: none;
}

.boxR {
    display: none;
}

.boxK {
    display: none;
}

.boxP {
    display: none;
}